<h3><%= page_entries_info @cards, :model => 'cards' =%></h3>
<br></br>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <% if !@cards.empty? %>
      <tr>
        <th>Card</th>
        <th>UIN</th>  
      </tr>
    <% end %>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.number %></td>
        <td><%= card.uin %></td>
      </tr>
    <% end %>
  </tbody>
</table>