// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$maroon: #800000;
$concrete: #f2f2f2;

input[type='text'] {
	position: relative;
	width: auto;
	height: 25px;
	padding: 0;
	font-size: 14px;
	color: $maroon;
	text-align: center;
	background: $concrete;
	border: 0;
	border: 2px dashed $maroon;
	border-radius: 2px;
	&:focus {
		outline: none;
	}
}

input[type='checkbox'] {
	width: auto;
}

input[type='submit'] {
  position: relative;
  vertical-align: top;
  width: 20%;
  height: 30px;
  padding: 0;
  font-size: 14px;
  color: #f2f2f2;
  text-align: center;
  background: #800000;
  border: 0;
  border: 2px solid #800000;
  border-radius: 2px;
  cursor: pointer;
}